.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18em;
  margin: 10px 20px;
  padding: 3px 15px;
  position: relative;
  border-radius: 28px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  padding: 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}
.nav-links a {
  text-decoration: none;
  font-size: 14px;
  padding: 0.5rem 1rem;
}

ul {
  list-style: none;
  margin: 0;
}

.logo {
  font-family: "Pacifico";
  font-weight: 800;
}
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 2rem 0;
  gap: 1em;
  border-top: 1px solid #e1e1e1;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  width: 80vw;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    gap: 7em;
  }

  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
  }
}

.nav-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1rem 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
  background-color: rgba(207, 207, 207, 0.534);
  backdrop-filter: blur(20px);
  font-weight: 600;
  z-index: 1000;
}

@media (min-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    opacity: 1;
    visibility: visible;
    transform: none;
    background-color: transparent;
    z-index: auto;
    padding: 0;
  }
}

:root {
  --text-color: black;
  --stroke-color: black;
}

.dark {
  --text-color: white;
  --stroke-color: white;
}

.animated-text {
  font-size: 120px;
  font-weight: bold;
  fill: none;
  stroke: var(--stroke-color);
  stroke-width: 1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawText 10s linear forwards;
}

@keyframes drawText {
  to {
    stroke-dashoffset: 0;
  }
}

/* Optional fill effect */
.animated-text {
  animation: drawText 3s linear infinite alternate,
    fillText 6s ease-in-out 3s infinite alternate;
}

@keyframes fillText {
  to {
    fill: var(--text-color);
  }
}

svg {
  all: unset;
  margin: 0;
  padding: 0;
  display: block;
}

@media (max-width: 768px) {
  .animated-text {
    font-size: 95px;
  }
}
